/* custom fonts */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=MuseoModerno&family=Source+Code+Pro&display=swap");

/* general styling */
:root {
	--accent: #b71c4a;
	--pri: #35b091;
	--sec: #002b3ace;
	--ter: #0c354262;
	scrollbar-color: var(--accent) #0000;
	scroll-behavior: smooth;
	scrollbar-width: thin;
}
/* :root {
	--accent: #c44;
	--pri: #577;
	--sec: #355;
	--ter: #4664;
} */
::selection {color: var(--pri); background: var(--accent)}
body {
	/*background: url("/ass/bg/arches.webp") top / cover fixed, url("/ass/bg/waw.webp") repeat center / 200% #000;
	background-blend-mode: darken, normal; */
	background: #000;
	color: var(--pri);
	font-family: Comfortaa, Verdana;
	margin: 0;
	animation: show .5s ease-out;
}
main {
	width: 50vmax;
	margin: 0 auto;
	padding: 2rem 0;
}
h1 {
	background: var(--sec);
	color: var(--pri);
	font-size: 2em;
	margin: 1.5rem 0;
}
h2 {
	margin: 1rem 0;
}
hr {
	border: 0;
	height: 128px;
	width: 512px;
	display: block;
	background: url("hr.webp");
}
p {
	text-align: justify;
	margin: 1em 0;
}
img {
	width: clamp(1em, 16em, 100%);
	height: auto;
}
a {
	color: var(--accent);
	text-decoration-style: dashed;
	outline: #0000 double;
}
a:focus-visible, a:hover {
	color: var(--pri);
	background: var(--accent);
	transition: 0s;
	text-decoration-style: solid;
}
pre {
	font: 1.5em monospace;
	margin: 1rem 0;
}
input[type=range] {
	accent-color: var(--accent);
	cursor: pointer;
}
code {
	font-family: monospace;
	padding: 0 6px;
	color: var(--pri);
	background: var(--sec);
}
a:focus-visible {
	outline-offset: 0.25rem;
}
figure {
	margin: 0;
}

/* elements and classes with the same rules (grouping them together saves up space MOST of the time) */
.pixelart, canvas, hr {
	image-rendering: pixelated;
}
#img0bg, .palette, .showcase, .showcase canvas, .nude, h1, img, code {
	border-radius: .5rem;
	corner-shape: bevel;
}
p, h1, h2 {
	padding: 0.5rem;
}
#caption, .center, .color, .tag, h1, h2 {
	text-align: center;
}
.center, .modal, .smol, hr {
	margin-left: auto;
	margin-right: auto;
}
#img0 {
	user-select: none;
}
.nude:focus-visible, a:focus-visible {
	outline: var(--accent) solid 0.25rem;
	transition: 0s;
}
h1, h2, hr {
	font-family: "MuseoModerno";
	mix-blend-mode: difference;
}
a, .neon, .nude, img {
	transition: .25s;
}

/* general classes */
.center {
	display: block;
}
.neon {
	color: var(--pri);
	font-size: 2em;
	text-shadow: var(--pri) 0 0 6px;
	box-shadow: var(--pri) 0 0 8px;
	background: var(--sec);
	border: var(--pri) 0.15rem solid;
	text-decoration: none;
	text-orientation: upright;
	writing-mode: vertical-rl;
	padding: 0.5rem 0;
	border-radius: 1rem;
	&:hover {
		text-shadow: 0 0 10px;
		box-shadow: 0 0 20px;
		transition: 0s;
	}
	&:active {
		text-shadow: 0 0 9px;
		box-shadow: 0 0 16px;
	}
}
.smol {
	width: clamp(35ch, 95%, 70ch);
}
.nude {
	background: var(--sec);
	img {
		opacity: 0;
		height: 100%;
		width: 100%;
	}
	&::after {
		transition: .5s;
		position: relative;
		display: flex;
		justify-content: center;
		white-space: pre;
		content: "[Hover]\a Detailed nude\a/\avisible vulva";
		top: -50%;
		pointer-events: none;
	}
	&:hover, #censor:checked + .showcase & {
		transition: 0s;
		background: #0000;
		img {
			transition: 0s;
			opacity: 1;
		}
		&::after {
			transition: 0s;
			opacity: 0;
		}
	}
}
.flex {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	justify-content: space-around;
}

/* portfolio stuff */
.showcase {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: 1fr 1fr;
	img {
		outline: 0 double var(--accent);
		transition: .15s, opacity .5s;
		object-fit: cover;
		box-sizing: border-box;
	}
	img:focus, img:hover {
		outline: 0.5rem solid var(--accent);
		cursor: pointer;
		transition: 0s;
	}
	img:active {
		outline-offset: 0.5rem;
	}
}
.viewport canvas {	
	width: 100%;
}
.showcase img, .nude {
	width: 100%;
}
#modal {
	display: none;
	z-index: 1;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	background: #000d;
	overflow: auto;
	animation: show 0.5s;
}
#img0bg {
	height: 100%;
	animation: zoom 0.5s;
}
#img0 {
	height: 100%;
	width: auto;
	border-radius: 0;
	display: block;
}
#img0.pixelart {
	height: round(down, 100%, attr(height px));
}
@keyframes zoom {
	0% {transform: scale(0.6)}
	to {transform: scale(1)}
}
@keyframes show {
	0% {opacity: 0}
	to {opacity: 1}
}
@keyframes hide {
	0% {opacity: 1}
	to {opacity: 0}
}

/* tools stuff */
.palette {
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	max-width: 32em;
}
.color {
	width: 4em;
	height: 4em;
	flex: 1 0 auto;
	border: 0 solid;
	box-sizing: border-box;
	transition: 0.1s;
	background: var(--sec);
	cursor: pointer;
	&:focus, &:hover {
		border-width: 0.25em 0;
	}
	&:active {
		border-width: 0.5em 0;
	}
	&:focus-visible {
		outline: 0;
	}
}
.tag {
	img {
		display: block;
		height: 1em;
		width: 100%;
		outline: 0 double var(--accent);
		&:hover {
			transition: 0s;
			outline: 0.5rem solid var(--accent);
		}
		&:active {
			outline-offset: 0.5rem;
		}
	}
}

/* mobile support */
@media(orientation:portrait) {
	.showcase {grid-template-columns: 1fr}
	main, #img0bg, #img0 {width: 100%; height: auto}
	#img0bg {margin: auto 0} 
}
